<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper d-block w-100">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <!--    <div class="carousel-caption">-->
    <!--      <h3><span> Come indulge yourself in bliss! </span></h3>-->
    <!--      <p><span> Third slide label </span></p>-->
    <!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper d-block w-100">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <!--    <div class="carousel-caption">-->
    <!--      <h3><span> Third slide label </span></h3>-->
    <!--      <p><span> Third slide label </span></p>-->
    <!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper d-block w-100">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <!--    <div class="carousel-caption">-->
    <!--      <h3><span> Third slide label </span></h3>-->
    <!--      <p><span> Third slide label </span></p>-->
    <!--    </div>-->
  </ng-template>
</ngb-carousel>
<div class="container">
  <div class="row">
    <div class="col-sm-6 welcomeMessageWrap">
      <div class="welcomeMessageGrid">
        <div class="messageInner">

          <h1 class="welcomeHeading">WELCOME TO HOTEL GANGA ADDARA</h1>
          <mat-divider></mat-divider>

          <p>A LUXURY 4 STAR HOTEL NEAR COLOMBO INTERNATIONAL AIRPORT</p>

          <p>
            Amagi Aria offers a sanctuary among four-star Negombo hotels, with a natural beauty framed against the
            magnificent lagoon backdrop. At Amagi Aria, guests will discover how easy it is to be inspired; panoramic
            views
            of the lagoon, warm and friendly service and access to Negombo’s most sought-after experiences.
            <br>
            <br>
            The 68 well-appointed guest rooms and suites offer spectacular accommodation in Negombo. The room categories
            comprise of standard, deluxe and luxury suites, each boasting a fresh and relaxing setting, with
            contemporary
            design, modern amenities and world-class comfort as well as private balconies, overlooking the lagoon, pool
            or
            garden. The suites are equipped with private Jacuzzis on the balcony – your own private sanctuary.
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 welcomeMessageWrap">
      <div class="amenitiesGrid">
        <div class="messageInner">

          <h1 class="welcomeHeading">FACILITIES</h1>
          <mat-divider></mat-divider>

          <ul class="list-group amenetiesList">
            <li class="list-group-item">Swimming Pool</li>
            <li class="list-group-item">Gym</li>
            <li class="list-group-item">Transport</li>
            <li class="list-group-item">Meeting and Reception Hall</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

